
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 * {
    -webkit-tap-highlight-color: transparent;
 }
 html{
  scroll-behavior: smooth
 }

 img{
    aspect-ratio: attr(width)/attr(height)
 }
 .remove-scrollbar{
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
 }

 .remove-scrollbar::-webkit-scrollbar {
   display: none;
 }
}